.main_placement {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #1e1e1f;
  border-radius: 0.3rem;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  font-size: 30px;
  flex: 1;
  padding: 0 1rem;
  color: var(--text-color);
}

.button {
  background-color: rgb(71, 71, 71);
  font-size: 24px;
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  margin-left: auto;
  cursor: pointer;
  color: var(--text-color);
}

.icon {
  font-size: 30px;
  margin-left: 0.5rem;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .header {
    padding: 0.5rem;
  }

  .button {
    padding: 0.2rem 0.4rem;
    font-size: 14px;
  }

  .icon {
    font-size: 18px;
    padding: 0 0.1rem;
    margin: 0;
  }

  .input {
    font-size: 16px;
  }
}
